// - - - - - - - - - - - - - - - - - - -
// - - base
// project defaults for base elements - h1-h6, p, a, etc.


h1, h2, h3

*:focus
  outline: none



::-webkit-scrollbar
  width: 7px
  height: 7px

::-webkit-scrollbar-button
  width: 0px
  height: 0px

::-webkit-scrollbar-thumb
  background: #c0c0c0
  border: 0px none #ffffff
  border-radius: 50px

::-webkit-scrollbar-thumb:hover
  background: #d6d6d6

::-webkit-scrollbar-thumb:active
  background: #ffffff

::-webkit-scrollbar-track
  background: #666666
  border: 0px none #ffffff
  border-radius: 50px

::-webkit-scrollbar-track:hover
  background: #666666

::-webkit-scrollbar-track:active
  background: #5e5e5e

::-webkit-scrollbar-corner
  background: transparent
