$header-height: 64px

.main-header
  +clearfix
  background: $indigo
  color: #fff
  position: relative

  .logo
    +transform(translate(-50%, -50%))
    display: inline-block
    height: 32px
    width: 60px
    position: absolute
    top: 50%
    left: 50%

  .nav-user
    margin-top: 20px
    margin-right: 20px

  nav
    float: left
    margin: 0
    padding: 0

    &.right
      float: right

    ul
      list-style: none
      display: inline-block
      margin: 0
      -webkit-margin-before: 0
      -webkit-padding-start: 0
      li
        display: inline-block

        a
          +transition
          color: rgba(#fff, .5)
          background: rgba(#fff, .15)
          line-height: 1em
          padding: 8px 10px
          border-radius: 4px

          &.current-user
            position: relative
            overflow: hidden
            margin-right: 1em

            .react-gravatar
              width: 40px
              height: 40px
              border-radius: 100%
              position: absolute
              top: 50%
              margin-top: -20px
              left: -55px

          .fa
            color: #fff

          &:hover
            color: #fff

    &#boards_nav
      > ul > li
        position: relative

        a
          display: block

        .board-switch
          line-height: 52px
          width: $header-height
          height: $header-height
          text-align: center
          font-size: 22px
          border-radius: 0

        .dropdown
          position: absolute
          display: block
          z-index: 99
          background: #fff
          border-radius: $base-border-radius
          left: 0
          margin-top: .5em
          color: $base-font-color
          width: 15em
          padding: .3em
          box-shadow: 0 3px 6px rgba(0,0,0,.4)
          animation-duration: .3s
          animation-name: fadeIn

          header
            padding: 0 .5em
            color: $gray

          ul
            display: block
            position: relative
            max-height: 15em
            overflow-y: auto

            li
              display: block
              margin-bottom: .3em



              a
                +transition
                color: $base-font-color
                font-weight: bold
                display: block
                padding: .7em .5em
                background: rgba($purple, .2)

                &:hover
                  background: rgba($purple, .5)

            &.options
              margin-top: 1em
              li
                a
                  background: #fff
                  text-decoration: underline
                  font-weight: normal
                  color: $dark-gray

                  &:hover
                    background: $light-gray
