.sessions.new, .registrations.new
  background: $indigo
  background-size: cover
  position: relative
  height: 100%

  main
    +transform(translate(-50%, -50%))
    position: absolute
    width: 460px
    top: 45%
    left: 50%
    text-align: center

    header
      text-align: center
      margin-bottom: 2em

      .logo
        display: inline-block
        background-size: contain
        height: 54px
        width: 198px
        vertical-align: middle

  form
    width: 460px
    padding: 40px 30px
    .mdl-textfield
      margin: auto
      margin-bottom: 10px
      .mdl-textfield__input
        font-size: 28px

    .mdl-button
      width: 100px
      margin: 10px auto

.login-card-wide



.login-link
  margin-top: 20px
  display: block
  color: rgba(#fff, .5)
  +transition
  color: rgba(#fff, .5)

  &:hover
    color: #fff

#main_footer
  small
    position: absolute
    bottom: 2em
    color: rgba(#fff, .4)
    left: 50%
    margin-left: -170px
